.container {
    width: 500px;
    flex: 4;
    flex-direction: row;
}

.label {
    flex: 1;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size:16px;
    font-weight: bold;
    margin-left: 10px;
    width: 100px;
    font-family: SeoulNamsanB;
}

.result_box {
    display: block;
    font-weight: normal;
}

.input_box {
    display: block;
    flex: 3;
    width: 400px;
    margin-left: 10px;
}